[data-input-enhancement="scanner"] .app-enhancement {
    display: inline-block;
}

[data-input-enhancement="scanner"] .app-enhancement-frame {
    border: solid 1px #ccc;
    text-align: center;
}

    [data-input-enhancement="scanner"] .app-enhancement-frame .app-icon {
        z-index: 2;
        right: 8px;
        bottom: 8px;
        top: auto !important;
        cursor: pointer;
        color: #eee;
    }

    [data-input-enhancement="scanner"] .app-enhancement-frame::before {
        content: ' ';
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.05);
        z-index: 1;
    }

    [data-input-enhancement="scanner"] .app-enhancement-frame.app-detected {
        border: solid 5px lime;
        margin: -4px;
    }

[data-input-enhancement="scanner"] video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 640px;
}

[data-input-enhancement="scanner"] .app-scan-error {
    position: relative;
    top: 50%;
    margin-top: -.5em;
    color: red;
}

[data-input-enhancement] [data-state="inactive"] {
    display: none !important;
}
