@font-face {
    font-family: 'Studio Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/MaterialIcons-Outlined.woff2') format('woff2')
}

.studio .material-icon,
.studio .ui-btn::before,
.studio .ui-btn::after,
.studio .app-btn-more::after,
.studio .app-btn::after,
.studio .ui-input-search:after,
.studio .app-btn-check:after,
.studio .app-data-list li:before,
.studio .ui-input-search:after,
.studio .app-row-status::after {
    font-family: 'Studio Material Icons' !important;
}


.studio-frame {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    border-width: 0;
}


.studio {
    background-color: transparent;
    transform: none;
}

    .studio #studio.ui-page {
        background-color: transparent;
    }

    .studio #studio .app-page-content {
        background-color: transparent;
    }

    .studio.studio-inspecting #studio .ui-content {
        cursor: crosshair;
    }

    .studio .app-bar-toolbar {
        visibility: hidden;
    }

    .studio .studio-selector {
        position: absolute;
        background-color: transparent;
        outline: solid 2px #ff0000;
        display: inline-block;
    }


.studio-toolbar {
    position: absolute;
    cursor: default;
    z-index: 20001;
    opacity: 1;
    transition: opacity ease-in 150ms;
}

    .studio-toolbar.studio-toolbar-top {
        width: 100%;
        height: 56px;
        top: 0;
        left: 0;
        /*background-color:red;*/
    }

    .studio-toolbar.studio-toolbar-bottom {
        width: 100%;
        height: 56px;
        bottom: 0;
        left: 0;
        /*background-color: green;*/
    }

    .studio-toolbar.studio-toolbar-left {
        width: 56px;
        height: 100%;
        top: 0;
        left: 0;
        /*background-color: blue;*/
    }

    .studio-toolbar.studio-toolbar-right {
        width: 56px;
        height: 100%;
        top: 0;
        right: 0;
        /*background-color: yellow;*/
    }

    .studio-toolbar .studio-btn {
        position: absolute;
        min-width: 24px;
        height: 24px;
        cursor: pointer;
    }

        .studio-toolbar .studio-btn .app-icon {
            font-family: 'Studio Material Icons' !important;
            user-select: none;
        }

        .studio-toolbar .studio-btn .studio-btn-label {
            margin-left: 32px;
            display: inline-block;
            font-size: 14px;
            line-height: 24px;
            user-select: none;
        }

        .studio-toolbar .studio-btn.studio-btn-hidden {
            display: none;
        }

.studio .studio-toolbar {
    z-index: 1000;
}

.studio-mode .studio-toolbar {
    display: none;
}

.studio-toolbar-left .studio-btn,
.studio-toolbar-right .studio-btn,
.studio-toolbar-top .studio-btn,
.studio-toolbar-bottom .studio-btn {
    margin-top: -12px;
    margin-left: -12px;
}

.studio-toolbar-left .studio-btn,
.studio-toolbar-right .studio-btn {
    left: 50%;
}

.studio-toolbar-top .studio-btn,
.studio-toolbar-bottom .studio-btn {
    top: 50%;
}


[data-studio-action="apps"] {
    top: 28px;
}

[data-studio-action="widgets"] {
    top: auto;
    bottom: 28px;
    margin-bottom: -12px;
}


[data-studio-action="more"] {
    top: 28px;
}

[data-studio-action="explore"] {
    top: auto;
    bottom: 28px;
    margin-bottom: -12px;
}

[data-studio-action="help"] {
    top: auto;
    bottom: 80px;
    margin-bottom: -12px;
}

[data-studio-action="exit"] {
    right: 66px;
}

[data-studio-action="rotate"] {
    right: 114px;
}


[data-studio-action="inspect-end"],
[data-studio-action="inspect-start"],
[data-studio-action="device"] {
    left: 84px;
}

[data-studio-action="settings"] {
    left: 132px;
}


[data-studio-action="models"] {
    left: 180px;
}


[data-studio-action="pages"] {
    left: 228px;
}

[data-studio-action="develop"] {
    left: 276px;
}

[data-studio-action="open"] {
    left: 324px;
}

[data-studio-action="sync"] {
    left: 372px;
}

[data-studio-action="publish"] {
    left: 420px;
}

.app-desktop .studio-btn:hover,
.studio-btn.app-selected {
    padding: 6px;
    margin-top: -18px;
    margin-left: -18px;
}

.app-desktop .studio-btn:not(.studio-disabled):hover,
.studio-btn:not(.studio-disabled).app-selected {
    background-color: rgba(0,0,0,.05);
}


.app-desktop [data-studio-action="widgets"]:hover,
.app-desktop [data-studio-action="help"]:hover,
.app-desktop [data-studio-action="explore"]:hover {
    margin-bottom: -18px;
}

.app-desktop [data-studio-action="rotate"]:hover,
.app-desktop [data-studio-action="exit"]:hover {
    margin-right: -6px;
}

[data-studio-action].app-active:not(.studio-disabled) .app-icon {
    color: #333;
}


.studio-mode .app-bar-notify {
    visibility: hidden;
}

.app-virtual-screen-bar {
    transition: border-color 100ms ease-in, border-width 100ms ease-in;
}

.studio-mode .app-virtual-screen-bar {
    border-color: #323232;
}

    .studio-mode .app-virtual-screen-bar.app-left {
        border-right-width: 3px;
    }

    .studio-mode .app-virtual-screen-bar.app-top {
        border-bottom-width: 3px;
    }

    .studio-mode .app-virtual-screen-bar.app-right {
        border-left-width: 3px;
    }

    .studio-mode .app-virtual-screen-bar.app-bottom {
        border-top-width: 3px;
    }


.studio-controls-hidden .studio-toolbar {
    opacity: 0;
}

.studio-app-shield {
    z-index: 1;
    background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 20px );
    position: absolute;
    overflow: auto;
    color: #fff;
    padding: 1em;
    white-space: pre-line;
    font-size: 14px;
    cursor: pointer;
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

.studio-log {
    background-color: rgba(0,0,0,.75);
    background-image: none;
    cursor: auto;
}

.studio-log-error {
    border: solid 3px red;
}

.studio .ui-popup-screen,
.studio .ui-panel-dismiss,
.studio .app-bar-notify {
    z-index: 20003;
}

.studio .ui-panel-display-overlay {
    z-index: 20004;
}

.studio .ui-popup-container {
    z-index: 20005;
}

.studio-hidden .studio-toolbar {
    display: none;
}

@media (max-width: 490px) {
    [data-studio-action="open"] {
        display: none;
    }
}

@media (max-width: 538px) {
    [data-studio-action="sync"] {
        display: none;
    }
}


@media (max-width: 592px) {
    [data-studio-action="publish"] {
        display: none;
    }
}

.studio-skirt {
    position: absolute;
    z-index: 999;
}

.studio-inspection-result {
    left: 0;
    bottom: 0;
    height: 56px;
    right: 0;
    position: absolute;
    text-align: center;
    z-index: 999;
    line-height: 56px;
    font-size: 13px;
}

[data-studio-action].studio-disabled i,
[data-studio-action].studio-disabled .studio-btn-label {
    color: #aaa;
}

.studio .app-bar-toolbar {
    background-color: transparent;
    border-color: transparent;
    background-image: none !important;
}

.studio:not(.app-hosted) > .ui-page > .ui-content::before {
    background: transparent;
}
/* "Dark" theme */
.app-theme-dark.studio-mode .app-virtual-screen-bar {
    border-color: #ccc;
}

.app-theme-dark.app-desktop .studio-btn:not(.studio-disabled):hover,
.app-theme-dark .studio-btn:not(.studio-disabled).app-selected {
    background-color: rgba(255,255,255,.08);
}

.app-theme-dark [data-studio-action] .app-icon,
.app-theme-dark [data-studio-action] .app-icon .studio-btn-label {
    color: #bbb;
}

.app-theme-dark [data-studio-action].app-active:not(.studio-disabled) .app-icon {
    color: #eee;
}

.app-theme-dark [data-studio-action].studio-disabled i,
.app-theme-dark [data-studio-action].studio-disabled .studio-btn-label {
    color: #555;
}

.app-theme-dark .studio-app-shield {
    background: repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px );
}

.app-theme-dark .studio-log {
    background-color: rgba(0,0,0,.75);
    background-image: none;
}


/* studio icons */


/*.svg-icon {
    background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPGRlZnM+CiAgICA8c3R5bGU+LmNhbnZhc3tmaWxsOiBub25lOyBvcGFjaXR5OiAwO30ubGlnaHQtZGVmYXVsdGdyZXktMTB7ZmlsbDogIzIxMjEyMTsgb3BhY2l0eTogMC4xO30ubGlnaHQtZGVmYXVsdGdyZXl7ZmlsbDogIzIxMjEyMTsgb3BhY2l0eTogMTt9LmxpZ2h0LWxpZ2h0Ymx1ZS0xMHtmaWxsOiAjMDA3N2EwOyBvcGFjaXR5OiAwLjE7fS5saWdodC1saWdodGJsdWV7ZmlsbDogIzAwNzdhMDsgb3BhY2l0eTogMTt9PC9zdHlsZT4KICA8L2RlZnM+CiAgPHRpdGxlPkljb25MaWdodEFjdGl2aXR5TW9uaXRvcjwvdGl0bGU+CiAgPGcgaWQ9ImNhbnZhcyIgY2xhc3M9ImNhbnZhcyI+CiAgICA8cGF0aCBjbGFzcz0iY2FudmFzIiBkPSJNMTYsMTZIMFYwSDE2WiIgLz4KICA8L2c+CiAgPGcgaWQ9ImxldmVsLTEiPgogICAgPHBhdGggY2xhc3M9ImxpZ2h0LWRlZmF1bHRncmV5LTEwIiBkPSJNNy45ODEsMTJhMy41LDMuNSwwLDEsMS0zLjUtMy41QTMuNSwzLjUsMCwwLDEsNy45ODEsMTJaIiAvPgogICAgPHBhdGggY2xhc3M9ImxpZ2h0LWRlZmF1bHRncmV5IiBkPSJNNC45ODEsOC4wNTFWN0g1Ljk5M1Y2SDNWN2guOTgxVjguMDUxYTQsNCwwLDEsMCwxLDBaTTQuNDgxLDE1YTMsMywwLDEsMSwzLTNBMywzLDAsMCwxLDQuNDgxLDE1Wm0uNS0yaC0xVjEwaDFaIiAvPgogICAgPHBhdGggY2xhc3M9ImxpZ2h0LWxpZ2h0Ymx1ZS0xMCIgZD0iTTE0LjUsMi45N1YxMWMwLC44MjktMS43OTEsMS41LTQsMS41YTEwLjM1MywxMC4zNTMsMCwwLDEtMS4wNjQtLjA2Yy4wMTQtLjE0Ny4wNDUtLjI4OS4wNDUtLjQ0QTQuOTg4LDQuOTg4LDAsMCwwLDYuOTkzLDcuN1Y1SDYuNVYyLjk3YzAtLjgyOCwxLjc5MS0xLjUsNC0xLjVTMTQuNSwyLjE0MiwxNC41LDIuOTdaIiAvPgogICAgPHBhdGggY2xhc3M9ImxpZ2h0LWxpZ2h0Ymx1ZSIgZD0iTTYsMi45N1Y1aC45OTNMNyw0LjI2MWE3Ljg2Myw3Ljg2MywwLDAsMCwzLjUuNzA5QTcuODYzLDcuODYzLDAsMCwwLDE0LDQuMjYxVjExYzAsLjI5LTEuMjI3LDEtMy41LDFhOS43MzQsOS43MzQsMCwwLDEtMS4wMjMtLjA1NGMwLC4wMTgsMCwuMDM2LDAsLjA1NGE0Ljk2NSw0Ljk2NSwwLDAsMS0uMS45MzVBMTAuNTI3LDEwLjUyNywwLDAsMCwxMC41LDEzYzIuMjM2LDAsNC41LS42ODYsNC41LTJWMi45N0MxNSwuMzQzLDYsLjM0Myw2LDIuOTdabTQuNSwxYy0yLjI3MywwLTMuNS0uNzEtMy41LTFzMS4yMjctMSwzLjUtMSwzLjUuNzEsMy41LDFTMTIuNzczLDMuOTcsMTAuNSwzLjk3WiIgLz4KICA8L2c+Cjwvc3ZnPgo=')
}
*/
