<?xml version="1.0"?>
<!--
      Note: As an alternative to hand editing this file you can use the
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in
      machine.config.comments usually located in
      \Windows\Microsoft.Net\Framework\v2.x\Config
    -->
<configuration>
  <appSettings>
    <add key="MembershipProviderValidationKey" value="2430FEDBCCCD2F797F917CA5C78209E5CE90AD65A780228C15468E742C3B6A48FDFCB02946F8BB6F7CC03CA6D175851526B1373DADC70EACEDF6089592115D13"/>
    <add key="BlobStorageKey" value=""/>
    <add key="AttachmentsAttachmentBlobAdapter" value=""/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="StefanTutorialDemo" connectionString="Data Source=localhost;Initial Catalog=TaskManager;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" fileEncoding="utf-8"/>
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only
        during development.
        -->
    <compilation debug="false" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.SqlServer.Types, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/pages/home"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <roleManager enabled="true" defaultProvider="StefanTutorialDemoApplicationRoleProvider">
      <providers>
        <clear/>
        <add name="StefanTutorialDemoApplicationRoleProvider" type="StefanTutorialDemo.Security.ApplicationRoleProvider" connectionStringName="StefanTutorialDemo"/>
      </providers>
    </roleManager>
    <membership defaultProvider="StefanTutorialDemoApplicationMembershipProvider">
      <providers>
        <clear/>
        <add name="StefanTutorialDemoApplicationMembershipProvider" type="StefanTutorialDemo.Security.ApplicationMembershipProvider" connectionStringName="StefanTutorialDemo" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="3"/>
      </providers>
    </membership>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" type="StefanTutorialDemo.Services.ApplicationSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Data Aquarium Framework and AjaxControlToolkit references-->
        <add tagPrefix="aquarium" namespace="StefanTutorialDemo.Web"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
      <!--Data Aquarium Framework handlers-->
      <add verb="*" path="Blob.ashx" validate="false" type="StefanTutorialDemo.Handlers.Blob"/>
      <add verb="*" path="Theme.ashx" validate="false" type="StefanTutorialDemo.Handlers.Theme"/>
      <add verb="*" path="Export.ashx" validate="false" type="StefanTutorialDemo.Handlers.Export"/>
      <add verb="*" path="Import.ashx" validate="false" type="StefanTutorialDemo.Handlers.Import"/>
      <add verb="*" path="Report.ashx" validate="false" type="StefanTutorialDemo.Handlers.Report"/>
      <add verb="*" path="ControlHost.aspx" validate="false" type="StefanTutorialDemo.Web.ControlHost"/>
    </httpHandlers>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="2097151" requestValidationMode="2.0" enableVersionHeader="false"/>
    <httpModules>
      <remove name="FormsAuthentication"/>
      <add name="ExportAuthentication" type="StefanTutorialDemo.Security.ExportAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
    </httpModules>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
    <trust level="Full" legacyCasModel="true" originUrl=".*"/>
    <httpCookies sameSite="Strict"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.x.  It is not necessary for previous version of IIS.
      -->
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxUrl="10999" maxQueryString="9999"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication"/>
      <add name="ExportAuthentication" type="StefanTutorialDemo.Security.ExportAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
    </modules>
    <handlers>
      <add name="All_XML" verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" resourceType="Unspecified"/>
      <add name="Reserved_ReportViewerWebControl_axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" resourceType="Unspecified"/>
      <!--Data Aquarium Framework handlers-->
      <add name="Blob_ashx" verb="*" path="Blob.ashx" type="StefanTutorialDemo.Handlers.Blob" resourceType="Unspecified"/>
      <add name="Theme_ashx" verb="*" path="Theme.ashx" type="StefanTutorialDemo.Handlers.Theme" resourceType="Unspecified"/>
      <add name="Export_ashx" verb="*" path="Export.ashx" type="StefanTutorialDemo.Handlers.Export" resourceType="Unspecified"/>
      <add name="Import_ashx" verb="*" path="Import.ashx" type="StefanTutorialDemo.Handlers.Import" resourceType="Unspecified"/>
      <add name="Report_ashx" verb="*" path="Report.ashx" type="StefanTutorialDemo.Handlers.Report" resourceType="Unspecified"/>
      <add name="ControlHost_ashx" verb="*" path="ControlHost.aspx" type="StefanTutorialDemo.Web.ControlHost" resourceType="Unspecified"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".yaml"/>
      <mimeMap fileExtension=".yaml" mimeType="application/x-yaml"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed">
      <remove statusCode="400"/>
      <remove statusCode="401"/>
      <remove statusCode="402"/>
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="405"/>
      <remove statusCode="412"/>
      <remove statusCode="422"/>
      <remove statusCode="500"/>
    </httpErrors>
  </system.webServer>
</configuration>